@model IEnumerable<WebApplication1.Models.Category>

@{
    ViewBag.Title = "Категории";
}

<h2>Категории</h2>

<p>
    <a href="Create" class="btn btn-primary" role="button" aria-pressed="true">Создать новую</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameCategory)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.IdCategory }) |
            @Html.ActionLink("Детали", "Details", new { id=item.IdCategory }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.IdCategory })
        </td>
    </tr>
}

</table>
