@model WebApplication1.Models.Post

@{
    ViewBag.Title = "Удаление поста";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалаить?</h3>
<div>
    <h4>Пост</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.NameCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.NameCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Nick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Nick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    @Html.ActionLink("Назад", "Index")
</div>
    }
</div>
